.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
}

.items {
  background: papayawhip;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  height: 400px;
}

.item:nth-child(1) {
  height: 50px;
  background: hotpink;
  align-self: start;
}

.item:not(:nth-child(1)) {
  background: turquoise;
}

@media (max-width: 575.98px) {
  .items {
    width: 300px;
    height: 300px;
  }
}
