:root {
  --skin: #f6c09c;
  --background: #ed4042;
  --red: #ed2860;
  --dark-red: #680524;
  --black: #00243a;
  --white: #fff;
  --skin-small-ear: #ba6936;
  --skin-neck: #d19471;
}

body {
  margin: 0;
  background: coral;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  height: 250px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 5px 10px 18px red;
}

.head {
  width: 100px;
  height: 200px;
  background: var(--skin);
  border-radius: 50px;
  position: relative;
}

.neck {
  clip-path: circle(50% at 50% 0%);
  width: 70px;
  height: 260px;
  background: var(--skin-neck);
  top: 120px;
  left: 14px;
  position: absolute;
}

.eye-left {
  width: 30px;
  height: 25px;
  background: var(--white);
  position: absolute;
  top: 50px;
  left: 23px;
  border-radius: 30px 10px 50px 50px;
}

.pupila-lefr {
  width: 5px;
  height: 5px;
  background: var(--black);
  position: absolute;
  top: 6px;
  left: 12px;
  border-radius: 50%;
}

.eye-right {
  width: 30px;
  height: 25px;
  background: var(--white);
  position: absolute;
  top: 50px;
  left: 43px;
  border-radius: 10px 30px 50px 50px;
}

.pupila-right {
  width: 5px;
  height: 5px;
  background: var(--black);
  position: absolute;
  top: 6px;
  left: 12px;
  border-radius: 50%;
}

.beard {
  width: 100px;
  height: 120px;
  background: var(--black);
  position: absolute;
  top: 80px;
  border-radius: 40px 40px 50px 50px;
}

.nose {
  width: 30px;
  height: 30px;
  background: var(--skin);
  position: absolute;
  top: -5px;
  left: 35px;
  border-radius: 50%;
}

.mouth {
  clip-path: circle(50% at 50% 0%);
  width: 60px;
  height: 25px;
  background: var(--dark-red);
  position: absolute;
  top: 35px;
  left: 20px;
}

.tooth {
  width: 45px;
  height: 10px;
  background: var(--white);
  position: absolute;
  border-radius: 0 2px 5px 0;
}

.tongue {
  width: 30px;
  height: 10px;
  background: var(--red);
  position: absolute;
  top: 14px;
  border-radius: 0 30px 2px 130px;
}

.had {
  width: 80px;
  height: 30px;
  background: var(--black);
  position: absolute;
  top: -10px;
  left: 10px;
  border-radius: 30px 30px 0px 0px;
}

.had_ {
  width: 115px;
  height: 30px;
  background: var(--black);
  position: absolute;
  left: -8px;
  top: 16px;
  border-radius: 2px 2px 30px 30px;
}

.ear_left {
  width: 30px;
  height: 30px;
  background: var(--skin);
  position: absolute;
  top: 70px;
  left: -20px;
  border-radius: 50%;
}
.small_ear_left {
  width: 16px;
  height: 16px;
  background: var(--skin-small-ear);
  position: absolute;
  top: 7px;
  left: 6px;
  border-radius: 50%;
}

.ear_right {
  width: 30px;
  height: 30px;
  background: var(--skin);
  position: absolute;
  top: 70px;
  left: 90px;
  border-radius: 50%;
}

.small_ear_right {
  width: 16px;
  height: 16px;
  background: var(--skin-small-ear);
  position: absolute;
  top: 7px;
  left: 8px;
  border-radius: 50%;
}
