@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Creepster&family=Flavors&family=Rubik+Moonrocks&family=Sunshiney&display=swap");

body {
  font-family: "Rubik Moonrocks", cursive;
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  box-shadow: 0px 7px 8px -8px #f3bad6;
  background: #4c3a51;
  color: white;
  width: 100%;
}

.header a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 100%;
}

.header img {
  width: 45px;
  animation: roll 3s infinite;
  transform: rotate(30deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header p {
  font-size: x-large;
  margin: 10px;
  text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  place-self: end;
  font-size: 2.6rem;
  margin-right: 1rem;
  color: #ffffff;
  height: 100%;
}

.icon:hover {
  color: #ffc107;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .header {
    grid-template-columns: 50px 1fr 50px;
  }

  .header p {
    font-size: 22px;
    margin: 10px 30px;
  }
  .icon {
    margin-right: 0.5rem;
  }
}
