.container {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: papayawhip;
  width: 400px;
  height: 400px;
}

.item:nth-child(1) {
  width: 50px;
  background: hotpink;
  justify-self: start;
}

.item:not(:nth-child(1)) {
  background: turquoise;
}
