.container_main {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: khaki;
  width: 200px;
  float: left;
  margin: 0 25px;
}

.content {
  display: flex;
  flex-direction: row;
  place-content: center;
  padding: 25px;
  gap: 2rem;
}

.item {
  background: hotpink;
  width: 100px;
  height: 165px;
}

.container_new {
  background: purple;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "card-1 card-2"
    "card-1 card-3";
  height: 330px;
  margin: 0 25px;
}

.item_1 {
  background: hotpink;
  grid-area: card-1;
}

.item_2 {
  background: rgb(245, 255, 105);
  grid-area: card-2;
}

.item_3 {
  background: rgb(105, 213, 255);
  grid-area: card-3;
}

.container_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "card1 card2"
    "card1 card3";
  width: 550px;
  height: 320px;
}

.item-one {
  background-image: url("../src/img/orange.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card1;
}

.item-two {
  background-image: url("../src/img/pink.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card2;
}

.item-three {
  background-image: url("../src/img/heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: card3;
}

.container_three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "card1 card2"
    "card3 card3";
  width: 550px;
  height: 320px;
}

@media (max-width: 575.98px) {
  .content {
    flex-direction: column;
    margin: 25px;
    padding: 0;
  }

  .container_two,
  .container_three {
    width: 100%;
  }
}
