body {
  margin: 0;
}

.container {
  background: papayawhip;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-template-columns: repeat(3, minmax(200px, 300px)); */
}

.item {
  background: papayawhip;
  border: 4px solid hotpink;
  width: 100%;
  height: 100px;
}

.container_two {
  background: papayawhip;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item-two {
  background: papayawhip;
  border: 4px solid hotpink;
  width: 100%;
  height: 100px;
}

.container_three {
  background: papayawhip;
  display: grid;
  grid-template-columns: auto fit-content(100%) auto;
}

.item-three {
  background: papayawhip;
  border: 4px solid hotpink;
  width: 100%;
  height: 100px;
}
