.container {
  background: papayawhip;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100px;
  height: 100px;
  margin: 0 100px;
  /* padding-top: 350px;
  justify-items: center; */
}

.item:nth-child(1) {
  background: hotpink;
  place-self: center stretch;
}

.item:not(:nth-child(1)) {
  background: turquoise;
}
