.container {
  display: flex;
  padding-top: 75px;
  justify-content: center;
  align-items: center;
}

.container_item {
  height: 200px;
  width: 200px;
  background: tomato;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.item {
  height: 100px;
  width: 100px;
  background: turquoise;
  border-radius: 50%;
}
