.container {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.container_item {
  height: 300px;
  width: 300px;
  background: tomato;
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.item {
  height: 100px;
  width: 100px;
  background: turquoise;
  border-radius: 50%;
}
