.wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 4rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  float: left;
  color: white;
}

.container {
  background: #99bbad;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.element-one {
  background: #7b113a;
}

.element-two {
  background: #ff7171;
}

.element-three {
  background: #b67162;
}

/* Flexbox END */
.wrapper-end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  float: left;
  color: white;
}

.container-end {
  background: #5b8a72;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.element-one-end {
  background: #8f4068;
}

.element-two-end {
  background: #9c3d54;
}

.element-three-end {
  background: #c64756;
}

.container-one-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-two-end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-three-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.container-four-end {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-five-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-six-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container-seven-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.container-eight-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-nine-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
