/* Grid line-height start*/
.container-start {
  background: #ffce89;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.container-one {
  text-align: left;
}

.element-one-line-height,
.element-two-line-height,
.element-three-line-height {
  background: #cc0e74;
  display: inline-block;
}

.container-two {
  text-align: center;
}

.element-four-line-height,
.element-five-line-height,
.element-six-line-height {
  background: #f05454;
  display: inline-block;
}

.container-three {
  text-align: right;
}

.element-seven-line-height,
.element-eight-line-height,
.element-nine-line-height {
  background: #794c74;
  display: inline-block;
}

/* Grid line-height end*/
.container {
  background: #e05297;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.container-one-line {
  text-align: left;
  line-height: 160px;
}

.element-one-line {
  background: #ff4b5c;
  display: inline-block;
  line-height: 45px;
  vertical-align: top;
}

.element-two-line {
  background: #ff4b5c;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.element-three-line {
  background: #ff4b5c;
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
}

.container-two-line {
  text-align: center;
  line-height: 160px;
}

.element-four-line {
  background: #cf7500;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}

.element-five-line {
  background: #cf7500;
  display: inline-block;
  line-height: 20px;
  vertical-align: baseline;
}

.element-six-line {
  background: #cf7500;
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
}

.container-three-line {
  text-align: right;
  line-height: 160px;
}

.element-seven-line {
  background: #821752;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}

.element-eight-line {
  background: #821752;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.element-nine-line {
  background: #821752;
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
}

@media (max-width: 575.98px) {
  .container,
  .container-start {
    width: 100px;
    height: 100px;
  }

  .container-one-line,
  .container-two-line,
  .container-three-line {
    line-height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper-start,
  .wrapper-end {
    margin: 0 100px;
  }

  .container-start,
  .container {
    width: 140px;
    height: 140px;
  }

  .container-one-line,
  .container-two-line,
  .container-three-line {
    line-height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-start,
  .container {
    width: 160px;
    height: 160px;
  }

  .wrapper-start,
  .wrapper-end {
    margin: 0 90px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-start,
  .container {
    width: 140px;
    height: 140px;
  }

  .container-one-line,
  .container-two-line,
  .container-three-line {
    line-height: 140px;
  }
}

@media (min-width: 1200px) and (max-width: 1899.98px) {
  .container-start,
  .container {
    width: 140px;
    height: 140px;
  }

  .container-one-line,
  .container-two-line,
  .container-three-line {
    line-height: 140px;
  }

  .wrapper-start {
    margin: 0 90px;
  }
}
