.container_main {
  padding-top: 75px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 100px;
}
/* table cell start */
.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.element-start-one {
  background: rgb(243, 152, 7);
}

.element-start-two {
  background: rgb(236, 15, 52);
}

.element-start-three {
  background: rgb(32, 233, 32);
}

.container {
  background: rgb(60, 201, 187);
  border: 1px solid white;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  color: white;
}

.container-start-one,
.container-start-two,
.container-start-three,
.container-start-four,
.container-start-five,
.container-start-six,
.container-start-seven,
.container-start-eight,
.container-start-nine {
  display: table-cell;
}

/* table cell end */

.element-one {
  background: rgb(240, 34, 62);
  display: inline-block;
}

.element-two {
  background: rgb(74, 221, 111);
  display: inline-block;
}

.element-three {
  background: rgb(233, 76, 14);
  display: inline-block;
}

.container-end {
  background: rgb(197, 72, 255);
  border: 1px solid white;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  color: white;
}

.container-one {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.container-two {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.container-three {
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
}

.container-four {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}

.container-five {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container-six {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.container-seven {
  display: table-cell;
  text-align: right;
  vertical-align: top;
}

.container-eight {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.container-nine {
  display: table-cell;
  text-align: right;
  vertical-align: bottom;
}
