.wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  gap: 4rem;
}

/* Grid position start */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  font-family: "Lato", sans-serif;
  float: left;
}

.container-position {
  background: #28df99;
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 10px;
}

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  color: white;
  border-radius: 10px;
}

.element-position-1,
.element-position-2,
.element-position-3 {
  background: #ef4f4f;
  position: absolute;
}

.element-position-4,
.element-position-5,
.element-position-6 {
  background: #944e6c;
  position: absolute;
}

.element-position-7,
.element-position-8,
.element-position-9 {
  background: #83a95c;
  position: absolute;
}

/* Grid position end */
.wrapper-end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  font-family: "Lato", sans-serif;
  float: left;
}

.container-position-end {
  background: #ff8585;
  width: 160px;
  height: 160px;
  position: relative;
  border-radius: 10px;
}

.element-position {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
}

.element-position-one {
  background: #9f5f80;
  position: absolute;
  left: 0;
  top: 0;
}

.element-position-two {
  background: #9f5f80;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.element-position-three {
  background: #9f5f80;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0, -100%);
}

.element-position-four {
  background: #b34180;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.element-position-five {
  background: #b34180;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.element-position-six {
  background: #b34180;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

.element-position-seven {
  background: #9c3d54;
  position: absolute;
  left: 100%;
  transform: translate(-100%, 0);
}

.element-position-eight {
  background: #9c3d54;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}

.element-position-nine {
  background: #9c3d54;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}

@media (max-width: 575.98px) {
  .wrapper-content {
    flex-direction: column;
    justify-content: flex-start;
    font-size: small;
    padding: 3rem 0;
  }

  .container-position,
  .container-position-end {
    width: 100px;
    height: 100px;
  }

  .element,
  .element-position {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-position,
  .container-position-end {
    width: 100px;
    height: 100px;
  }

  .element,
  .element-position {
    font-size: 12px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper-content {
    display: grid;
    flex-direction: column;
    padding: 3rem 0;
    height: auto;
  }
}
