.container_menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-top: 75px;
  margin: 0 100px;
  justify-items: center;
}
.wrapper-content {
  margin: 0 6%;
}

.button_submit {
  background: #9b3675;
  width: 250px;
  height: 50px;
  outline: none;
  border-radius: 20px;
  border: none;
  float: left;
  color: white;
  font-size: 16px;
  box-shadow: 5px 10px 18px #822659;
}

.button_submit:hover {
  background-color: #e36bae;
  transition: color 0.2s 0.05s ease;
  cursor: pointer;
}

/* Grid margin start */
.wrapper-start {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  font-family: "Lato", sans-serif;
  color: white;
  float: left;
  padding-top: 75px;
  margin: 0 55px;
}

.container-margin-start {
  background: #9f5f80;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.element-one-margin-start,
.element-two-margin-start,
.element-three-margin-start {
  background: #ff577f;
}

.element-four-margin-start,
.element-five-margin-start,
.element-six-margin-start {
  background: #f8b400;
}

.element-seven-margin-start,
.element-eight-margin-start,
.element-nine-margin-start {
  background: #fa163f;
}

/* Grid margin end */
.wrapper-end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  font-family: "Lato", sans-serif;
  padding-top: 75px;
  float: left;
  color: white;
  margin: 0 55px;
}

.container-margin-end {
  background: #ff7171;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.element-one-margin {
  background: #f14668;
  margin: 0;
}

.element-two-margin {
  background: #f14668;
  margin: 50px 0;
}

.element-three-margin {
  background: #f14668;
  margin: 100px 0;
}

.element-four-margin {
  background: #b34180;
  margin: 0 auto;
}

.element-five-margin {
  background: #b34180;
  margin: 50px auto;
}

.element-six-margin {
  background: #b34180;
  margin: 100px auto;
}

.element-seven-margin {
  background: #eb4d55;
  margin: 0 0 0 auto;
}

.element-eight-margin {
  background: #eb4d55;
  margin: 50px 0 0 auto;
}

.element-nine-margin {
  background: #eb4d55;
  margin: 100px 0 0 auto;
}

@media (max-width: 575.98px) {
  .container_menu {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 0 30px 0;
  }

  .button_submit {
    width: 40vh;
  }

  .wrapper-start,
  .wrapper-end {
    justify-content: center;
    justify-items: center;
    font-size: 14px;
    float: none;
    margin: 0 90px;
  }

  .wrapper-end {
    padding-top: 25px;
    padding-bottom: 2em;
    margin: 15px 55px;
    margin: 0 90px;
  }

  .container-margin-start,
  .container-margin-end {
    width: 100px;
    height: 100px;
  }

  .element {
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }

  .element-two-margin {
    margin: 25px 0;
  }

  .element-three-margin {
    margin: 50px 0;
  }

  .element-five-margin {
    margin: 25px auto;
  }

  .element-six-margin {
    margin: 50px auto;
  }

  .element-eight-margin {
    margin: 25px 0 0 auto;
  }

  .element-nine-margin {
    margin: 50px 0 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-margin-start,
  .container-margin-end {
    width: 140px;
    height: 140px;
  }

  .wrapper-start,
  .wrapper-end {
    margin: 0 90px;
  }

  .element-two-margin {
    margin: 40px 0;
  }

  .element-three-margin {
    margin: 80px 0;
  }

  .element-five-margin {
    margin: 40px auto;
  }

  .element-six-margin {
    margin: 80px auto;
  }

  .element-eight-margin {
    margin: 40px 0 0 auto;
  }

  .element-nine-margin {
    margin: 80px 0 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container_menu {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 20px;
    justify-items: center;
  }

  .button_submit {
    width: 220px;
  }
  .wrapper-start,
  .wrapper-end {
    margin: 0 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container_menu {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 30px;
    justify-items: center;
  }

  .button_submit {
    width: 300px;
  }

  .container-margin-start,
  .container-margin-end {
    width: 140px;
    height: 140px;
  }

  .wrapper-start {
    margin: 0;
  }

  .wrapper-end {
    margin: 0 2%;
  }

  .element-two-margin {
    margin: 40px 0;
  }

  .element-three-margin {
    margin: 80px 0;
  }

  .element-five-margin {
    margin: 40px auto;
  }

  .element-six-margin {
    margin: 80px auto;
  }

  .element-eight-margin {
    margin: 40px 0 0 auto;
  }

  .element-nine-margin {
    margin: 80px 0 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1899.98px) {
  .wrapper-content {
    margin: 0 10%;
  }

  .wrapper-start,
  .wrapper-end {
    margin: 0 30px;
  }

  .container-margin-end,
  .container-margin-start {
    width: 140px;
    height: 140px;
  }

  .element {
    font-size: 14px;
    width: 50px;
    height: 50px;
  }

  .element-two-margin {
    margin: 45px 0;
  }

  .element-three-margin {
    margin: 90px 0;
  }

  .element-five-margin {
    margin: 45px auto;
  }

  .element-six-margin {
    margin: 90px auto;
  }

  .element-eight-margin {
    margin: 45px 0 0 auto;
  }

  .element-nine-margin {
    margin: 90px 0 0 auto;
  }
}

@media (min-width: 1900px) {
  .wrapper-content {
    margin: 0 18%;
  }
}
