.wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
}

/* Grid margin start */
.wrapper-start {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  font-family: "Lato", sans-serif;
  color: white;
  float: left;
}

.container-margin-start {
  background: #9f5f80;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.element {
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.element-one-margin-start,
.element-two-margin-start,
.element-three-margin-start {
  background: #ff577f;
}

.element-four-margin-start,
.element-five-margin-start,
.element-six-margin-start {
  background: #f8b400;
}

.element-seven-margin-start,
.element-eight-margin-start,
.element-nine-margin-start {
  background: #fa163f;
}

/* Grid margin end */
.wrapper-end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  font-family: "Lato", sans-serif;
  float: left;
  color: white;
}

.container-margin-end {
  background: #ff7171;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

.element-one-margin {
  background: #f14668;
  margin: 0;
}

.element-two-margin {
  background: #f14668;
  margin: 50px 0;
}

.element-three-margin {
  background: #f14668;
  margin: 100px 0;
}

.element-four-margin {
  background: #b34180;
  margin: 0 auto;
}

.element-five-margin {
  background: #b34180;
  margin: 50px auto;
}

.element-six-margin {
  background: #b34180;
  margin: 100px auto;
}

.element-seven-margin {
  background: #eb4d55;
  margin: 0 0 0 auto;
}

.element-eight-margin {
  background: #eb4d55;
  margin: 50px 0 0 auto;
}

.element-nine-margin {
  background: #eb4d55;
  margin: 100px 0 0 auto;
}
